* {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    height: 100vh;
    background-color: rgba(30, 30, 30, 1);
}

input {
    background-color: white;
    border: none;
    color: black;
}

button {
    color: black;
}